.addTask {
  margin: 100px 0 50px;

  &__title{
    margin-bottom: 10px;
  }

  &__input {
    padding: 10px 20px;
    color: #333333;
  }

  &__btn {
    color: #333333;
    padding: 10px 20px;
    cursor: pointer;

  }
}
