.board {
  flex: 1;
  display: flex;
  gap: 50px;

  .picker {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
  }

  .task {
    height: 50px;
    padding: 10px 20px;
    background-color: grey;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;

    &__btn {
      all: unset;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      height: 100%;
      width: 20%;
     }
  }
}
